name: Push and Deploy
on: [push]
jobs:
  build-and-deploy:
#    if: github.ref == 'refs/heads/master'
    name: Build and push image
    runs-on: ubuntu-latest

    env:
      HASH: $(git rev-parse --short "$GITHUB_SHA")
      BRANCH: ${GITHUB_REF##*/}
      GCP_SERVICE_NAME: ${{ secrets.GCP_SERVICE_NAME }}
      GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      GKE_CLUSTER: personal
      GKE_ZONE: asia-northeast3-b
      DEPLOYMENT_NAME: code-server-ci
      EXTERN_DOMAIN: ${{ secrets.EXTERN_DOMAIN }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v1

      - name: Set up GCP SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Push to GCR
        run: |
          gcloud auth configure-docker

      - name: Build docker
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_SERVICE_NAME }}:latest
            gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_SERVICE_NAME }}:${{ github.sha }}

      - uses: imranismail/setup-kustomize@v1

      - name: Compose K8S configuration
        working-directory: deployment/overlays/production
        run: |
          kustomize edit set image code-server=gcr.io/${GCP_PROJECT_ID}/code-server:latest
          kustomize build -o ../../../pre-build.yaml
          envsubst < ../../../pre-build.yaml > ../../../kubernetes.yaml

      - uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}
          credentials: ${{ secrets.GKE_SA_KEY }}

      - name: Deploy to GKE
        id: deploy_to_gke
        run: |
          kubectl apply -f kubernetes.yaml
